<div class="row">
  <div class="col-md-12">
    <form [formGroup]="blogContentForm" (ngSubmit)="onSubmit()">
      <div class="d-flex justify-content-around align-items-center">
        <div class="mb-3">
          <button
            [disabled]="!blogContentForm.valid"
            type="submit"
            class="btn btn-outline-success"
          >
            Save Button
          </button>
        </div>

        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            id="blog-status"
            formControlName="contentStatus"
            [checked]="blogContentForm.get('contentStatus')"
          />
          <label class="form-check-label" for="blog-status">
            Active/Inactive
          </label>
        </div>
      </div>

      <div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">
            <h2 class="mb-0">Write you Content here:</h2>
          </label>
          <textarea
            class="form-control shadow-effect2"
            id="exampleFormControlTextarea1"
            rows="15"
            autofocus
            formControlName="contentText"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
</div>
