<div class="row">
  <div class="col-md-12">
    <div class="card-container">
      <!-- blog list item component -->

      <h3 class="text-center" *ngIf="blogsData.length === 0">No blogs to show</h3>

      <div class="card mb-4" *ngFor="let blog of blogsData">
        <span
          class="edit-icon"
          [ngClass]="!blog.status && 'edit-icon-inactive'"
        >
          <i class="fa-regular fa-pen-to-square fa-lg"></i>
        </span>

        <div class="card-body p-4">
          <p>{{ blog.blogContent }}</p>
        </div>
      </div>

      <!--  -->
    </div>
  </div>
</div>
