<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <h2>All Blogs</h2>
    </div>

    <hr class="mb-5" />

    <div>
      <!-- blog list item component -->

      <h3 class="text-center" *ngIf="blogsData.length === 0 && !isLoading">
        No blogs to show
      </h3>

      <div class="card-container">
        <div class="card mb-4" *ngFor="let blog of blogsData">
          <div class="card-body p-4">
            <p>{{ blog.blogContent }}</p>
          </div>
        </div>

        <!--  -->
      </div>
    </div>
  </div>
</div>
